/* Variáveis CSS */
:root {
    /* Paleta de cores */
    /* Obtida de: https://www.iamsajid.com/ui-colors/ */
    --bg-dark: hsl(211 86% 91%);
    --bg: hsl(211 100% 96%);
    --bg-light: hsl(211 100% 100%);
    --text: hsl(220 100% 7%);
    --text-muted: hsl(210 46% 29%);
    --highlight: hsl(211 100% 100%);
    --border: hsl(211 30% 52%);
    --border-muted: hsl(211 41% 64%);
    --primary: hsl(208 74% 28%);
    --secondary: hsl(38 100% 17%);
    --danger: hsl(9 28% 41%);
    --warning: hsl(51 36% 31%);
    --success: hsl(149 30% 34%);
    --info: hsl(217 30% 42%);

    /* Medidas padrão */
    --border-radius: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline-offset: 8px;
    outline-color: var(--info);
}

body {
    background-color: var(--bg);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
}

p {
    line-height: 2;
    max-width: 65ch;
    color: var(--text);
}

h1,
h2,
h3 {
    color: var(--primary);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    background-color: var(--bg-dark);
    border: 3px solid var(--border-muted);
    border-top: 3px solid var(--highlight);
    padding: 8px 32px;
    border-radius: calc(var(--border-radius) * 2);
}

header > nav > ul > li > a {
    display: inline-block;
    padding: 8px;
    color: var(--primary);
}

header > nav > ul > li > a:hover {
    transform: translateY(-3px);
    transition: transform 0.2s ease-in-out;
    color: var(--border-muted);
}

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container {
    margin: 0 auto;
    padding: 16px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logotipo {
    font-size: 40px;
    font-weight: 900;
    color: var(--primary);
    text-shadow:
        var(--border) 2px 2px 0px,
        var(--border) -2px 2px 0px,
        var(--highlight) -2px -2px 0px,
        var(--border) 2px -2px 0px;
}

.hero {
    background: HSL(211 86% 91%);
    background: linear-gradient(
        0deg,
        rgba(212, 231, 252, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    padding: 16px;
    margin-top: 16px;
    border-radius: var(--border-radius);
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    border: 3px solid var(--border-muted);
    border-top: 3px solid var(--highlight);
}

.hero > p {
    line-height: 2.5;
    max-width: 55ch;
}

.hero > * {
    z-index: 2;
}

.img-relativa {
    position: absolute;
    top: -16px;
    right: -50px;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.24));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.24));
}

.cta {
    display: block;
    background-color: var(--primary);
    padding: 16px 64px;
    border-radius: var(--border-radius);
    width: fit-content;
    color: var(--highlight);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

.cta:hover {
    background-color: var(--border);
    color: var(--highlight);
    transition: all 0.3s ease-in-out;
}

#sobre {
    background-color: var(--bg-dark);
    padding: 16px;
    border-radius: var(--border-radius);
}

.sobre-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.sobre-row:nth-child(odd) {
    flex-direction: row-reverse;
}

.sobre-row > * {
    min-width: 0px;
    flex: 1 1 100px;
}

.sobre-row > img {
    border: 3px solid var(--border-muted);
    border-top: 3px solid var(--highlight);
    border-radius: var(--border-radius);
}

.sobre-bloco {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.credencial {
    text-align: center;
    padding: 16px;
    background-color: var(--bg);
    border: 3px solid var(--border-muted);
    border-top: 3px solid var(--highlight);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
}

.credencial > span {
    color: var(--primary);
    font-size: 24px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;
    aspect-ratio: 9 / 10;
    background-color: var(--bg-dark);
    border: 3px solid var(--border-muted);
    border-top: 3px solid var(--highlight);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

.card > p,
.card > a {
    font-size: 16px;
    max-width: 30ch;
}

.card-icon-container {
    background-color: var(--bg-light);
    padding: 16px;
    border: 2px solid var(--border-muted);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

.card-cta {
    display: block;
    background-color: var(--primary);
    padding: 16px 32px;
    border-radius: var(--border-radius);
    width: fit-content;
    color: var(--highlight);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

.card-cta:hover {
    background-color: var(--border);
    color: var(--highlight);
    transition: all 0.3s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 16px;
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
}

form > button {
    font-size: 18px;
    cursor: pointer;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
}

.form-column:not(:last-child) {
    border-right: 1px solid var(--border);
}

fieldset {
    width: fit-content;
    padding: 8px;
}
